<h1>Word List</h1>
<a href="{% url 'word-create' %}">Add New Word</a>
<a href="{% url 'home' %}">home</a>
<table>
    <tr>
        <th>User</th>
        <th>{{ preference.get_languageA_display }}</th>
        <th>{{ preference.get_languageB_display }}</th>
        <th>Word Class</th>
        <th>Fail</th>
        <th>Success</th>
        <th>Options</th>
    </tr>
    {% for word in words %}
    {% with word.user_scores.0 as score %}
        <tr>
            <td>{{ word.user }}</td>
            <td>
                {% if preference.languageA == 'FR' %}
                    {{ word.french }}
                {% elif preference.languageA == 'KR' %}
                    {{ word.korean }}
                {% elif preference.languageA == 'EN' %}
                    {{ word.english }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>
                {% if preference.languageB == 'FR' %}
                    {{ word.french }}
                {% elif preference.languageB == 'KR' %}
                    {{ word.korean }}
                {% elif preference.languageB == 'EN' %}
                    {{ word.english }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            <td>{{ word.word_class }}</td>
            <td>{{ score.fail }}</td>
            <td>{{ score.success }}</td>
            <td>
                <a href="{% url 'word-update' word.pk %}">Edit</a>
                <a href="{% url 'word-delete' word.pk %}">Delete</a>
            </td>
        </tr>
    {% endwith %}
    {% endfor %}
</table>