{% load dict_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess</title>
    <a href="{% url 'home' %}">home</a>
    <script>
        function toggleValue() {
            var valueElementWord = document.getElementById("hiddenValue");
            var valueElementCheck = document.getElementById("hiddenButtonCheck");
            var valueElementButton = document.getElementById("hiddenButton");
            if (valueElementWord.style.display === "none") {
                valueElementWord.style.display = "inline";
                valueElementCheck.style.display = "none";
                valueElementButton.style.display = "inline";
            }
        }

        async function sendFeedback(answer) {
            const url = document.getElementById('newWord').href;
            const word_id = document.getElementById('wordID').value;

            try {
                const response = await fetch("score/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": getCSRFToken()
                    },
                    body: "answer=" + answer + '&wordID=' + word_id
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                window.location.href = url;
            } catch (error) {
                console.error("Failed to send feedback:", error);
            }
        }

        function getCSRFToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }        
    </script>
</head>
<body>
    <form method="post"> {% csrf_token %}</form>
    <a id="newWord" href="{% url 'guess' %}" style="display: none;"></a>
    <input type="hidden" id="wordID" value="{{ word.id }}"/>
    <div>
        <span>
            {% if preference.learnMode == 'NORMAL' %}
                {{ word|getattr_dynamic:preference.languageB }}
            {% else %}
                {{ word|getattr_dynamic:preference.languageA }}
            {% endif %}
        </span>
        <div id="hiddenValue" style="display: none;">
            <ul>
                {% for word in otherWord %}
                    <li>
                        {% if preference.learnMode == 'NORMAL' %}
                            {{ word|getattr_dynamic:preference.languageA }}
                        {% else %}
                            {{ word|getattr_dynamic:preference.languageB }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- <span id="hiddenValue" style="display: none;">{{ word.korean }}</span> -->
    </div>
    <div id="hiddenButtonCheck" style="display: inline;">
        <button onclick="toggleValue()">Reveal Value</button>
    </div>
    <div id="hiddenButton" style="display: none;">
        <h5>Did You guessed it?</h5>
        <button onclick="sendFeedback('success')">Yes!</button>
        <button onclick="sendFeedback('fail')">No</button>
    </div>
    <div>
    </div>
</body>
</html>